Repository gotechnica/platform-2020, pull requests merged in 2020-10, with the labels that each got.

#169 Adds update and delete functions for sponsor items
  backend/admin/handler.js
  backend/admin/serverless.yml
  backend/projects/handler.js
  backend/projects/serverless.yml
Labels: admin, backend, projects

#168 Added a placeholder for the profile form
  frontend/src/views/Register.vue
Labels: frontend

#167 Finished renaming Team.vue from 'Team Formation' to 'My Team'
  frontend/src/views/Team.vue
Labels: frontend

#176 Add mentorship response in slack
  backend/projects/config/dev.json
  backend/projects/config/prod.json
  backend/projects/config/stage.json
  backend/projects/config/testing.json
  backend/projects/handler.js
  backend/projects/package-lock.json
  backend/projects/package.json
  backend/projects/serverless.yml
  frontend/src/views/RequestMentor.vue
Labels: backend, frontend, projects

#174 create countdown timer
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config/general.js
  frontend/src/views/Home.vue
Labels: frontend

#177 Made text changes to the platform
  frontend/src/views/Home.vue
  frontend/src/views/SponsorAnalytics.vue
  frontend/src/views/SponsorBooth.vue
  frontend/src/views/Team.vue
Labels: frontend
