Repository gotechnica/platform-2020, pull requests merged in 2020-08, with the labels that each got.

#100 CI/CD: Auto labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: cicd

#97 Frontend: Improve linter
  .github/workflows/test-backend.yml
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.huskyrc
  frontend/package-lock.json
  frontend/package.json
Labels: cicd, frontend

#101 Initial Update of README.md
  README.md
Labels: documentation

#93 Brian/projects create devpost
  backend/infrastructure/create-tables.js
  backend/projects/__tests__/create_project_submission.test.js
  backend/projects/config/dev.json
  backend/projects/config/prod.json
  backend/projects/config/stage.json
  backend/projects/config/testing.json
  backend/projects/handler.js
  backend/projects/serverless.yml
  backend/schedule/handler.js
  backend/schedule/package-lock.json
  backend/schedule/serverless.yml
Labels: backend, infrastructure, projects, schedule

#102 Samuelhoward/login and registration tracking
  backend/infrastructure/create-tables.js
  backend/users/config/dev.json
  backend/users/config/prod.json
  backend/users/config/stage.json
  backend/users/config/testing.json
  backend/users/handler.js
  backend/users/serverless.yml
Labels: backend, infrastructure, users

#103 adds timestamp parameter to activity table items
  backend/users/handler.js
Labels: backend, users

#109 connect selection of project check boxes to database
  frontend/package-lock.json
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/Project.vue
  frontend/src/views/Team.vue
Labels: frontend

#116 Adds timestamps to teams, invites, and memberships
  backend/teams/handler.js
Labels: backend, teams

#118 initial commit for zoom api key cycling
  backend/infrastructure/.gitignore
  backend/infrastructure/add_zoom_keys.js
  backend/infrastructure/create-tables.js
  backend/schedule/.gitignore
  backend/schedule/config/dev.json
  backend/schedule/config/prod.json
  backend/schedule/config/stage.json
  backend/schedule/config/testing.json
  backend/schedule/handler.js
  backend/schedule/serverless.yml
Labels: backend, infrastructure, schedule
