Repository gotechnica/platform-2020, pull requests merged in 2020-09, with the labels that each got.

#121 make sponsor tooltip opaque
  frontend/src/components/Sponsors/SponsorCard.vue
Labels: frontend

#120 Added update hacker profile function
  backend/users/handler.js
  backend/users/serverless.yml
Labels: backend, users

#123 Renaming water cooler in navbar and changing text in water cooler page
  frontend/src/router/index.js
  frontend/src/views/WaterCooler.vue
Labels: frontend

#124 Changing text box colors
  frontend/src/assets/global.css
Labels: frontend

#122 Use Vue router to authenticate
  frontend/src/App.vue
  frontend/src/router/index.js
  frontend/src/views/Logout.vue
Labels: frontend

#126 lambda layers
  backend/admin/serverless.yml
  backend/projects/package-lock.json
  backend/projects/package.json
  backend/projects/serverless.yml
  backend/schedule/package-lock.json
  backend/schedule/package.json
  backend/schedule/serverless.yml
  backend/teams/serverless.yml
  backend/users/serverless.yml
Labels: admin, backend, projects, schedule, teams, users

#130 Misc frontend cleanup (uniform headers and colors, remove scroll bars)
  frontend/src/assets/global.css
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/MentorshipRequests.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Project.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Sponsors.vue
  frontend/src/views/Team.vue
  frontend/src/views/TeamRoom.vue
  frontend/src/views/WaterCooler.vue
Labels: frontend

#129 Already Submitted Project
  backend/teams/__test__/get_team_submission.test.js
  backend/teams/__test__/update_team_submission.test.js
  backend/teams/handler.js
  backend/teams/serverless.yml
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/Project.vue
  frontend/src/views/Team.vue
Labels: backend, frontend, teams

#133 Add watercooler image
  frontend/src/assets/watercooler.png
  frontend/src/views/WaterCooler.vue
Labels: frontend

#132 Revamp of team invites
  frontend/src/views/Team.vue
Labels: frontend

#135 fill in user info on registration page
  frontend/src/views/Register.vue
Labels: frontend

#134 Amao/sticky navbar
  frontend/src/assets/profile_pics/Profile Cloud 1.png
  frontend/src/assets/profile_pics/Profile Cloud 2.png
  frontend/src/assets/profile_pics/Profile Mountain.png
  frontend/src/assets/profile_pics/Profile Sun.png
  frontend/src/assets/profile_pics/Profile Wave.png
  frontend/src/components/Navbar.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend

#136 Add slack worspace to navbar
  frontend/src/config/general.js
  frontend/src/router/index.js
  frontend/src/views/Register.vue
  frontend/src/views/TeamRoom.vue
Labels: frontend

#137 Add live stream
  frontend/src/assets/global.css
  frontend/src/assets/livestream.png
  frontend/src/config/general.js
  frontend/src/router/index.js
  frontend/src/views/LiveStream.vue
Labels: frontend

#139 Adds Backend endpoint for tracking basic user activity
  backend/users/__tests__/track_user_activity.test.js
  backend/users/handler.js
  backend/users/serverless.yml
Labels: backend, users

#141 Brian/teams test endpoint
  backend/teams/__test__/get_team_invites.test.js
  backend/teams/__test__/get_team_membership_for_user.test.js
  backend/teams/__test__/get_users_for_team.test.js
  backend/teams/handler.js
Labels: backend, teams

#145 Adds activity tracking post requests to several pages
  frontend/src/mixins/general.js
  frontend/src/views/HelpDesk.vue
  frontend/src/views/Home.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/Team.vue
Labels: frontend

#148 Add Schedule Event Slider
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/ScheduleCard1.png
  frontend/src/assets/ScheduleCard2.png
  frontend/src/assets/ScheduleCard3.png
  frontend/src/assets/global.css
  frontend/src/components/Button.vue
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/mixins/schedule.js
  frontend/src/views/Home.vue
  frontend/src/views/Schedule.vue
Labels: frontend

#146 Amao/team limit
  frontend/src/views/Team.vue
Labels: frontend

#151 Add page backgrounds
  frontend/src/assets/global.css
  frontend/src/assets/home_page_bg.svg
  frontend/src/assets/pattern.png
  frontend/src/components/EasterEggStamp.vue
  frontend/src/components/ScheduleCarousel.vue
  frontend/src/views/Home.vue
  frontend/src/views/Passport.vue
  frontend/src/views/PhotoBooth.vue
  frontend/src/views/Schedule.vue
  frontend/src/views/ShortLink.vue
Labels: frontend

#155 Anna feng/backend test for update hacker profile
  backend/users/__tests__/update_hacker_profile.test.js
  backend/users/handler.js
Labels: backend, users

#156 Finished Water Cooler Time Limit
  frontend/src/views/WaterCooler.vue
  frontend/vue.config.js
Labels: frontend

#157 dropdown for mentor topic
  frontend/src/views/RequestMentor.vue
Labels: frontend

#158 Modified Registration Description
  frontend/src/views/Register.vue
Labels: frontend

#159 Modified style of links to match Home Page links
  frontend/src/views/HelpDesk.vue
Labels: frontend

#154 Add progress pills
  frontend/src/components/ContentContainer.vue
  frontend/src/components/ProgressCircles.vue
  frontend/src/views/Register.vue
  frontend/src/views/RequestMentor.vue
  frontend/src/views/Team.vue
  frontend/vue.config.js
Labels: frontend

#160 Frontend beautification
  frontend/src/components/LoadingSpinner.vue
  frontend/src/views/HackerProfile.vue
  frontend/src/views/Home.vue
Labels: frontend

#161 Adds slack messages for basic activity tracking
  backend/users/handler.js
  frontend/src/mixins/general.js
Labels: backend, frontend, users

#163 Added 'Other' option to mentor request page
  frontend/src/views/RequestMentor.vue
Labels: frontend

#149 fix Firefox display issues with background gradient and checkboxes
  backend/teams/handler.js
  frontend/src/components/ChecklistItem.vue
  frontend/src/views/Login.vue
Labels: backend, frontend, teams

#166 update team membership status on login
  frontend/src/views/Authenticate.vue
Labels: frontend
